$primary-coloe: #090909;
$p-color: #7e7e7e;
$primary-font: 'font';
$primary-bold: 'bold';
$card-background:  #E8E8E8;

@font-face {
  font-family: font;
  src: url(../assect/font/Poppins-Regular.ttf);
}
@font-face {
  font-family: bold;
  src: url(../assect/font/poppins.bold.ttf);
}
